<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="SLF4J" />
    </settings>

    <typeHandlers>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.GenderEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.ErrorCodeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.OperaterTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.UserTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.TradeTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.DeviceTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.SortModeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.UserStatusEnum"/>
    </typeHandlers>

    <plugins>
        <!-- 配置分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->        
            <property name="dialect" value="mysql"/>
        </plugin>
        <!-- 配置拦截器 -->
        <plugin interceptor="com.agdress.commons.interceptor.MapF2FInterceptor"/>
        <plugin interceptor="com.agdress.commons.interceptor.SlowQueryTimeInterceptor">
            <!--超过这个时间打印慢查询日志，单位毫秒-->
            <property name="slowMilliSecond" value="1000"/>
        </plugin>
        <!--配置缓存-->
        <plugin interceptor="com.agdress.commons.interceptor.VersionPlugin">
            <property name="dialect" value="mysql"/>
            <property name="versionSql" value="version_no"/>
            <property name="versionFile" value="versionNo"/>
        </plugin>
    </plugins>
</configuration>

