<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="SLF4J" />
    </settings>

    <typeHandlers>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.GenderEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.ErrorCodeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.OperaterTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.UserTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.TradeTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.DeviceTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.SortModeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.UserStatusEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.ItemTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.PaymentStatusEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.PaymentModeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.PaymentTargetEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.RechargeStatusEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.TradeStatusEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.TradeKindEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.CurrencyEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.RoleTypeEnum"/>
        <typeHandler handler="com.agdress.commons.handler.EnumTypeHandler"
                     javaType="com.agdress.enums.AuditTemplateEnum"/>
    </typeHandlers>

    <plugins>
        <!-- 配置分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->        
            <property name="dialect" value="mysql"/>
        </plugin>
        <!-- 配置拦截器 -->
        <plugin interceptor="com.agdress.commons.interceptor.MapF2FInterceptor"/>
        <plugin interceptor="com.agdress.commons.interceptor.SlowQueryTimeInterceptor">
            <!--超过这个时间打印慢查询日志，单位毫秒-->
            <property name="slowMilliSecond" value="200"/>
        </plugin>
        <!--配置version拦截-->
        <plugin interceptor="com.baomidou.mybatisplus.plugins.OptimisticLockerInterceptor"></plugin>
    </plugins>
</configuration>

