<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agdress.mapper.Starship_AgentMapper">


    <!--查询业务员的分页查询-->
    <select id="selectAgentListPage" parameterType="java.util.Map"   resultType="com.agdress.entity.Starship_AgentEntity">
        SELECT
            a.agent_id,
            a.agent_name,
            a.qq
        FROM
             m_agents a
        where
            is_delete = 0
            <if test=" agentId != null and agentId != '' ">
              and  a.agent_id = #{agentId}
            </if>
            <if test=" qq != null and qq != '' ">
              and  a.qq = #{qq}
            </if>
     </select>


</mapper>