<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cicada.mapper.OrderMapper">

    <resultMap id="orderVoResultMap" type="com.cicada.pojo.vo.OrderVo">
        <id column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="user_id" property="clientId" jdbcType="VARCHAR"/>
        <result column="nickname" property="clientName" jdbcType="VARCHAR"/>
        <result column="order_type" property="orderType" jdbcType="INTEGER" javaType="com.cicada.enums.OrderTypeEnum"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER" javaType="com.cicada.enums.OrderStatusEnum"/>
        <result column="item_id" property="itemId" jdbcType="BIGINT"/>
        <result column="item_code" property="itemCode" jdbcType="VARCHAR"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="qty" property="qty" jdbcType="INTEGER"/>
        <result column="price_coins" property="priceCoins" jdbcType="DECIMAL"/>
        <result column="coins_amount" property="coinsAmount" jdbcType="DECIMAL"/>
        <result column="addr_contact" property="addrContact" jdbcType="VARCHAR"/>
        <result column="addr_tel" property="addrTel" jdbcType="VARCHAR"/>
        <result column="addr1" property="addr1" jdbcType="VARCHAR"/>
        <result column="addr2" property="addr2" jdbcType="VARCHAR"/>
        <result column="addr_code" property="addrCode" jdbcType="VARCHAR"/>
        <result column="addr_lng" property="addrLng" jdbcType="FLOAT"/>
        <result column="addr_lat" property="addrLat" jdbcType="FLOAT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--获取竞猜项目列表-->
    <select id="selectOrderVoList" parameterType="java.util.Map" resultMap="orderVoResultMap" >
        <bind name="nick" value="'%'+_parameter.nickname+'%'"/>
        <bind name="mobile" value="'%'+_parameter.phonenumber+'%'"/>
        SELECT t.*
        FROM (
               SELECT IFNULL(u.nickname,u.phonenumber) nickname,u.phonenumber,o.*
               FROM t_orders o
               JOIN m_users u on o.user_id = u.user_id
             ) t
        <where>
            is_delete = 0
            <if test=" nickname != null and nickname != '' ">
                AND nickname LIKE #{nick}
            </if>
            <if test=" userStatus != null and phonenumber != '' ">
                AND phonenumber LIKE #{mobile}
            </if>
            <if test=" startTime != null ">
                <![CDATA[ AND create_date >= #{startTime} ]]>
            </if>
            <if test=" endTime != null ">
                <![CDATA[ AND create_date <= #{endTime} ]]>
            </if>
        </where>
        ORDER BY t.order_id DESC limit #{limit} offset #{offset}
    </select>

    <!--玩家记录总数-->
    <select id="selectOrderTotal" parameterType="java.util.Map" resultType="java.lang.Long" >
        <bind name="nick" value="'%'+_parameter.nickname+'%'"/>
        <bind name="mobile" value="'%'+_parameter.phonenumber+'%'"/>
        select count(1) cnt
        FROM (
                SELECT IFNULL(u.nickname,u.phonenumber) nickname,u.phonenumber,o.*
                FROM t_orders o
                JOIN m_users u on o.user_id = u.user_id
              ) t
        <where>
            is_delete = 0
            <if test=" nickname != null and nickname != '' ">
                AND nickname LIKE #{nick}
            </if>
            <if test=" userStatus != null and phonenumber != '' ">
                AND phonenumber LIKE #{mobile}
            </if>
            <if test=" startTime != null ">
                <![CDATA[ AND create_date >= #{startTime} ]]>
            </if>
            <if test=" endTime != null ">
                <![CDATA[ AND create_date <= #{endTime} ]]>
            </if>
        </where>
    </select>

    <!--审核处理，更新订单状态-->
    <update id ="updateOrderStatus" parameterType="java.util.Map">
        UPDATE t_orders
        SET order_status = #{orderStatus},
            update_by = #{updateBy}
        WHERE order_id =#{orderId}
    </update>
</mapper>