<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cicada.mapper.OperateMapper">

    <resultMap id="OperateVo" type="com.cicada.pojo.vo.OperateVo">
        <id column="operate_id" property="operateId" jdbcType="BIGINT"/>
        <result column="operate_type" property="operateType" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--获取需要加入队列的操作列表-->
    <select id="selectWattingOperates" resultMap="OperateVo">
        select MAX(a.operate_id) operate_id,a.operate_type,a.user_id,a.task_id,a.quantity,MAX(a.operate_time) operate_time,b.update_date from t_operate_log a
        left join t_active_daily b on a.user_id=b.user_id and a.operate_type=b.operate_type
        GROUP BY a.user_id,a.operate_type
        HAVING <![CDATA[b.update_date< MAX(a.operate_time)]]> OR b.update_date is null
    </select>

    <!--  查看操作是否已经完成 -->
    <select id="selectOperateStatus" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select count(1) from t_operate_log a where operate_time = (select max(operate_time) from t_operate_log where status=0 and user_id=#{userId} and operate_type=#{operateType})
        and status=0 and user_id=#{userId} and operate_type=#{operateType}
    </select>

    <!--删除10天前的操作记录-->
    <delete id="deleteOperateLog" >
        delete FROM t_operate_log
    </delete>

    <!--删除10天前的操作记录-->
    <delete id="deleteOperateLogById"  parameterType="java.lang.Long">
        delete FROM t_operate_log where operate_id=#{operateId}
    </delete>

    <!--更新每日任务-->
    <delete id="deleteDailyActives" >
        delete from t_active_daily where active_type in (0,2)
    </delete>

    <!--更新每日任务-->
    <update id="updateOperateStatus" parameterType="java.util.HashMap">
        update t_operate_log
        set status=1
        where user_id=#{userId} and operate_type=#{operateType} and quantity=#{quantity}
    </update>

</mapper>