<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mapper.Starship_RoleMapper">



    <select id="selectModulesListByRoleId" parameterType="java.lang.Long"  resultType="java.util.HashMap">
       SELECT
            ifnull(CONCAT(c.pid,c.description),0) as modulstr
        FROM
            m_roles a JOIN m_role_modules b ON a.role_id=b.role_id
            LEFT JOIN m_modules c ON b.module_id=c.id
        WHERE
          a.role_id=#{id}
    </select>


</mapper>