<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cicada.mapper.ClientMapper">

    <resultMap id="clientVoResultMap" type="com.cicada.pojo.vo.ClientVo">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="phonenumber" property="phonenumber" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="wxopenid" property="wxOpenId" jdbcType="VARCHAR"/>
        <result column="wxunionid" property="wxUnionId" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="INTEGER" javaType="com.cicada.enums.UserTypeEnum"/>
        <result column="head_url" property="headUrl" jdbcType="VARCHAR"/>
        <result column="roleid" property="roleId" jdbcType="INTEGER"/>
        <result column="last_time" property="lastTime" jdbcType="TIMESTAMP"/>
        <result column="user_status" property="userStatus" jdbcType="INTEGER" javaType="com.cicada.enums.UserStatusEnum"/>
        <result column="device_type" property="deviceType" jdbcType="INTEGER" javaType="com.cicada.enums.DeviceTypeEnum"/>
        <result column="device_token" property="deviceToken" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>

        <association property="accountVo" javaType="com.cicada.pojo.vo.ClientAccountVo">
            <id column="account_id" property="accountId" jdbcType="BIGINT"/>
            <result column="user_id" property="userId" jdbcType="BIGINT"/>
            <result column="task_count" property="taskCount" jdbcType="INTEGER"/>
            <result column="task_join" property="taskJoin" jdbcType="INTEGER"/>
            <result column="coin_balance" property="coinBalance" jdbcType="DECIMAL"/>
            <result column="coin_income" property="coinIncome" jdbcType="DECIMAL"/>
            <result column="coin_expend" property="coinExpend" jdbcType="DECIMAL"/>
            <result column="coin_expend" property="coinExpend" jdbcType="DECIMAL"/>
            <result column="coin_locked" property="coinLocked" jdbcType="DECIMAL"/>
            <result column="recharge_amount" property="rechargeAmount" jdbcType="DECIMAL"/>
            <result column="member_points" property="memberPoints" jdbcType="DECIMAL"/>
        </association>
    </resultMap>

    <!--获取玩家列表-->
    <select id="selectClientVoList" resultMap="clientVoResultMap" parameterType="java.util.Map">
        <bind name="nick" value="'%'+_parameter.nickname+'%'"/>
        SELECT t.user_id,t.user_name,t.nickname,t.phonenumber,t.gender,t.wxopenid,
          t.user_type,t.head_url,
          t.last_time,user_status,t.device_type,t.device_token,t.create_date,
          a.account_id,a.task_count,a.task_join,
          a.coin_balance,a.coin_income,a.coin_expend,a.coin_locked,a.recharge_amount,
          a.member_points
        FROM ( SELECT * FROM m_users
            <where>
                is_delete = 0
                <if test=" nickname != null and nickname != '' ">
                    AND nickname LIKE #{nick}
                </if>
                <if test=" userStatus != null and userStatus != '' ">
                    AND user_status = #{userStatus}
                </if>
                <if test=" startTime != null and startTime != '' ">
                    <![CDATA[ AND create_date >= #{startTime} ]]>
                </if>
                <if test=" endTime != null and endTime != '' ">
                    <![CDATA[ AND create_date <= #{endTime} ]]>
                </if>
            </where>
            ORDER BY user_id DESC limit #{limit} offset #{offset}
        ) t
        JOIN t_user_account a on t.user_id = a.user_id
        ORDER BY t.user_id DESC
    </select>

    <!--玩家记录总数-->
    <select id="selectClientTotal" parameterType="java.util.Map" resultType="java.lang.Long" >
        <bind name="nick" value="'%'+_parameter.nickname+'%'"/>
        select count(1) cnt from m_users
        <where>
            is_delete = 0
            <if test=" nickname != null and nickname != '' ">
                AND nickname LIKE #{nick}
            </if>
            <if test=" userStatus != null and userStatus != '' ">
                AND user_status = #{userStatus}
            </if>
            <if test=" startTime != null  and startTime != '' ">
                <![CDATA[ AND create_date >= #{startTime} ]]>
            </if>
            <if test=" endTime != null  and endTime != '' ">
                <![CDATA[ AND create_date <= #{endTime} ]]>
            </if>
        </where>
    </select>

    <!--获取玩家详情-->
    <select id="selectClientVo" resultMap="clientVoResultMap" parameterType="java.util.Map">
        SELECT t.user_id,t.user_name,t.nickname,t.phonenumber,t.gender,t.wxopenid,
        t.user_type,t.head_url,
        t.last_time,user_status,t.device_type,t.device_token,t.create_date,
        a.account_id,a.task_count,a.task_join,
        a.coin_balance,a.coin_income,a.coin_expend,a.coin_locked,a.recharge_amount,
        a.member_points
        FROM (
                SELECT * FROM m_users WHERE is_delete = 0 and user_id = #{userId}
             ) t
        JOIN t_user_account a on t.user_id = a.user_id
        ORDER BY t.user_id DESC
    </select>
</mapper>