<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agdress.mapper.UserMapper">

    <resultMap id="userResultVo" type="com.agdress.entity.vo.UserResultVo">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER" javaType="com.agdress.enums.GenderEnum"/>
        <result column="head_url" property="headUrl" jdbcType="VARCHAR"/>
        <result column="card_no" property="cardNo" jdbcType="VARCHAR"/>
        <result column="card_bank" property="cardBank" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
    </resultMap>

    <!--更新会员版本号-->
    <update id="updateVersion"    >
        UPDATE t_users SET  version_no=#{versionNo} WHERE user_id=#{userId}
     </update>

    <select id="getUserInfo" resultMap="userResultVo" parameterType="java.lang.Long">
      SELECT t_users.user_id, t_users.nickname, t_users.phone, t_users.gender, t_users.head_url,
          t_user_cards.card_no, t_user_cards.card_bank, m_bank_types.bank_name
        FROM t_users
        LEFT JOIN t_user_cards ON t_user_cards.user_id = t_users.user_id
        LEFT JOIN m_bank_types ON m_bank_types.bank_type = t_user_cards.bank_type
        WHERE t_users.user_id = #{userId} AND
              t_users.is_delete = 0
    </select>

</mapper>